*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
*:not(i) {
	font-family: "Roboto Mono", monospace;
	color: #ffffff;
}
body {
	height: 100vh;
	background-image: url('../img/bg.png');
	background-size: cover;
	background-position: center;
	background-origin: content-box;
	background-repeat: no-repeat;
}
.box {
	position: absolute;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	top: 40%;
	left: 50%;
}
.container {
	width: 320px;
}
.mainbox {
	height: 100%;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.06);
	-webkit-backdrop-filter: blur(15px);
	backdrop-filter: blur(15px);
	padding: 50px 25px;
	-webkit-box-shadow: 0 25px 23px rgba(0, 0, 0, 0.15);
	box-shadow: 0 25px 23px rgba(0, 0, 0, 0.15);
	border: 1.5px solid rgba(255, 255, 255, 0.06);
	border-radius: 8px;
}

.shape1 {
	height: 150px;
	width: 150px;
	position: absolute;
	background: -o-linear-gradient(315deg, #008cff, #344feb);
	background: linear-gradient(135deg, #19e412, #34eb86);
	border-radius: 50%;
	bottom: 130px;
	right: -50px;
	z-index: -1;
}
.shape2 {
	height: 150px;
	width: 150px;
	position: absolute;
	background: -o-linear-gradient(315deg, #426cf8, #3ebdf0);
	background: linear-gradient(135deg, #426cf8, #3ebdf0);
	border-radius: 50%;
	top: 100px;
	left: -50px;
	z-index: -1;
}

.wrapper {
	text-align: center;
}
#time {
	font-size: 40px;
	display: inline-block;
}
#day {
	position: relative;
	font-size: 16px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #c5c5c5;
	text-align: center;
}
#midday {
	display: inline-block;
	font-size: 30px;
}

.sosmed {
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

.tulisan {
	display: block;
	text-align: left;
	text-decoration: none;
	color: #ffffff;
	font-size: 18px;
	background-color: rgba(255, 255, 255, 0.06);
	-webkit-backdrop-filter: blur(15px);
	backdrop-filter: blur(15px);
	padding: 10px 20px;
	margin-top: 20px;
	-webkit-box-shadow: 0 25px 23px rgba(0, 0, 0, 0.15);
	box-shadow: 0 25px 23px rgba(0, 0, 0, 0.15);
	border: 1.5px solid rgba(255, 255, 255, 0.06);
	border-radius: 8px;
}
i.fab {
	color: #ff0000;
}

.sosmed .grc {
	margin-left: 30px;
}
.grc .ic-label {
	margin-left: 10px;
}

a {
	text-decoration: none;
}

.prop {
	border-radius: 100%;
	width: 30%;
}

.name {
	position: absolute;
	top: 35%;
	margin-left: 30px;
	font-size: 20px;
}
.mailaddr {
	font-size: 14px;
}

.descdir {
	position: absolute;
	top: 50%;
	margin-left: 30px;
}

.qwot {
	font-style: italic;
}

.ptk {
	font-size: 30px;
}
/*
.ptk-o {
	#####
}
*/
.ptk-c {
	position: relative;
	left: 87%;
	top: -3px;
}

.ktkt {
	margin-left: 25px;
	margin-top: -20px;
}

